<h3>Room Chat</h3>
<div class="chat-msg-field">
  <ul id="messages"></ul></div>
<form id="chat-form">
  <input
    id="msg"
    name="msgInput"
    type="text"
    placeholder="Enter Message"
    required
    autocomplete="off"
  />
  <input id="chat-user-name" type="hidden" value="{{user.username}}" />
  <input id="chat-user-id" type="hidden" value="{{user._id}}" />
  <input id="chat-gameroom-id" type="hidden" value="{{gameRoomId}}" />
  <button type="submit" class="btn btn-primary">Send</button>
</form>